.row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    line-height: 1.6;
}

.cell {
    height: 20px;
    width: 20px;
}

.alive {
    background-color: yellow;
}

.dead {
    background-color: gray;
}